<?php

/*
|--------------------------------------------------------------------------
| The Core manifest allows you to define admin settings for your resources
| You may also overload settings from the core/manifest file here.
|--------------------------------------------------------------------------
*/

return [

	'model/alias/path' => [
		'title'      => 'Your Component Name',
		'admin'      => [
			'permission_prefix'     => 'alias.path',
			'route_prefix'          => 'route.path',
			'view_prefix'           => 'view.path',
		],
	],

];
